AWSTemplateFormatVersion: '2010-09-09'
Transform: 'AWS::Serverless-2016-10-31'
Description: >-
  Lambda-based identifier resolver ({{ node_env }})
Resources:
  Proxy:
    Type: 'AWS::Serverless::Function'
    Properties:
      FunctionName: {{ function_proxy }}
      CodeUri: ./
      Handler: lambda-proxy.handler
      Runtime: nodejs8.10
      MemorySize: 128
      Timeout: 30
      Policies:
        - LambdaInvokePolicy:
           FunctionName: {{ function_main }}
      Events:
        # API Gateway
        API:
          Type: Api
          Properties:
            Path: /resolve
            Method: post
      Environment:
        Variables:
          NODE_ENV: {{ node_env }}
          FUNCTION_MAIN: {{ function_main }}
  Main:
      Type: 'AWS::Serverless::Function'
      Properties:
        FunctionName: {{ function_main }}
        CodeUri: ./
        Handler: lambda-main.handler
        Runtime: nodejs8.10
        MemorySize: 128
        Timeout: 30
        Environment:
          Variables:
            NODE_ENV: {{ node_env }}
            ES_HOSTS: {{ es_hosts }}
Outputs:
  API:
    Value: !Sub "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/resolve"
